/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2016, 10:17:51 AM
    Author     : rostom
*/
@media screen and (max-width:1800px){
    .account-wrapper .account-right {
        float: left;
        width: 635px;
        margin-left: 5px;
    }
    .months div{
        padding-left: 14px;
    }
    .main_bar div{
        padding-left: 19px;
    }
    .inside-shell span{
        left:5px;
    }
    .months #l_jan{
        left: 464px;
    }
    .months  #l_feb{
        left: 515px;
    }
    .months  #l_mar{
        left: 562px;
    }
    .months  #l_apr{
        left: 612px;
    }
    .months #l_may{
        left:660px;
    }
    .months  #l_jun{
        left:711px;
    }
    .months  #l_jul{
        left: 758px;
    }
    .months  #l_aug{
        left: 812px;
    }
    .months #l_sep{
        left:865px;
    }
    .months #l_oct{
        left: 910px;
    }
    .months #l_nov{
        left: 964px;
    }
    .months  #l_dec{
        left: 1012px;
    }
    
    .bars_warpper #jan{
        right: 11px;
    }
    .bars_warpper #feb{
        right: 3px;
    }
    .bars_warpper #mar{
        right: -5px;
    }
    .bars_warpper #apr{
        right: -15px;
    }
    .bars_warpper #may{
        right: -20px;
    }
    .bars_warpper #jun{
        right: -25px;
    }
    .bars_warpper #jul{
        right: -30px;
    }
    .bars_warpper #aug{
        right: -35px;
    }
    .bars_warpper #sep{
        right: -44px;
    }
    .bars_warpper #oct{
        right: -50px;
    }
    .bars_warpper #nov{
        right: -57px;
    }
    .bars_warpper #dec{
        right: -65px;
    }

}
@media screen 
and (max-width:768px){
    .wrapper{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        box-shadow:         -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        background-color: #ffffff;
    }
    .header .left{
        width:33.3%;
        float: left;
    }
    .header .right{
        width: 40.2%;
        float: right;

    }
    footer{
        width: 100%;
    }
    .account-wrapper .account-right {
        float: left;
        width: 610px;
        margin-left: 5px;
    }
}

/*
For Ipads
*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
    .wrapper{
        width: 90%;
        margin: auto;
        -webkit-box-shadow: -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        box-shadow:         -1px 3px 5px 1px rgba(50, 50, 50, 0.2);
        background-color: #ffffff;   
    }
    footer{
        width: 90%;
    }

}
/*
Galaxy
*/
@media only screen and (max-width:360px){
    .wrapper{
        width: 99%;
    }
    footer{
        width: 99%;
        text-align: center;

    }
    .searchForm #userInput {
        width: 220px;
        height: 30px;
        border: 1px solid #C5C5C5;
        border-radius: 0px;
        font-size: 16px;

    }
    .wrapper .left{
        width: 100%;
    }
    .wrapper .right{
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
    }
    nav{
        clear:both;
    }
    .accounts{
        text-align: center;
    }
    .login-main {
        width: 270px;
        padding: 25px;
        margin-top: 60px;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        -moz-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34); 
        margin-bottom: 1px;
        text-align: center;
    }
    .login-main fieldset{
        border: 2px solid #000099;
        padding: 15px;
    }
    .login-main input[type="text"], input[type="password"] {
        margin-top: 2px;
        height: 33px;
        width: 200px;
    }
    #sresults #nresults {
        width: 220px;
        height: 30px;
        border: 1px solid #C5C5C5;
        border-radius: 0px;
        font-size: 16px;
    }
    .main_content {
        padding: 25px;
        /* text-align: justify; */
    }
}
/*
Nexus
*/
@media only screen and (max-width:412px){
    .wrapper{
        width: 100%;
    }
    footer{
        width: 100%;
        text-align: center;
    }
    .searchForm #userInput {
        width: 220px;
        height: 30px;
        border: 1px solid #C5C5C5;
        border-radius: 0px;
        font-size: 16px;

    }
    .wrapper .left{
        width: 100%;
    }
    .wrapper .right{
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
    }
    nav{
        clear:both;
    }
    .accounts{
        text-align: center;
    }
    .login-main {
        width: 250px;
        padding: 25px;
        margin-top: 10px;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        -moz-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34); 
        margin-bottom: 1px;
        text-align: center;
    }
    .login-main fieldset{
        border: 2px solid #000099;
        padding: 15px;
    }
    .login-main input[type="text"], input[type="password"] {
        margin-top: 2px;
        height: 33px;
        width: 200px;
    }
    #sresults #nresults {
        width: 220px
    }
    .main_content {
        padding: 25px;
        /* text-align: justify; */
    }
}
/*
iphone 6+
*/
@media only screen and (max-width:414px){
    .wrapper{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .searchForm #userInput {
        width: 220px;
        height: 30px;
        border: 1px solid #C5C5C5;
        border-radius: 0px;
        font-size: 16px;

    }
    .wrapper .left{
        width: 100%;
    }
    .wrapper .right{
        width: 100%;
        text-align: center;
        margin-bottom: 13px;
    }
    nav{
        clear:both;
    }
    .header .right input[type="text"]{
        border: 1px solid #C5C5C5;
    }
    .accounts{
        text-align: center;
    }
    .login-main {
        width: 250px;
        padding: 25px;
        margin-top: 10px;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        -moz-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34);
        box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.34); 
        margin-bottom: 1px;
        text-align: center;
    }
    .login-main fieldset{
        border: 2px solid #000099;
        padding: 15px;
    }
    .login-main input[type="text"], input[type="password"] {
        margin-top: 2px;
        height: 33px;
        width: 200px;
    }
    #sresults #nresults {
        width: 220px
    }
    .main_content {
        padding: 25px;
        /* text-align: justify; */
    }
}

@media screen and (max-width:1500px){
    .header .right input[type="text"]{
        margin-top: 40px;
        height: 27px;
        width: 120px;
        border-radius: 3px;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
        padding-left: 12px;
    }
    .header .right button{
        z-index: 2;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        outline-offset: 12px;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        box-sizing: border-box;
        background-color: #000099;
        border-color: #000099;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid #000099;
    }
}